table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    margin : auto;
    margin-top: 5rem;
    width: 80%;
  }
  
  td, th {
    border: 6px solid #dddddd;
    text-align: left;
    padding: 2px;
  }
  
  tr:nth-child(even) {
    background-color: #dddddd;
  }

  .E3 {
    margin: 20px;
    padding: 20px;
    margin-left: 630px;
    margin-top: -110px;
    cursor: pointer;
  }
  .img {

    margin-left: 7px;
    margin-top: 7px;
  }